.header__square-pic {
    height: 568px;
    width: 568px;
    background-size: 568px;
    background-color: #2f80ed;
    z-index: 1;
    position: absolute;
    top: 64px;
    right: 0;
    animation: rotation 20s linear infinite;
    /*равномерное бесконечное перемещение*/
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}