.feynman__link {
    margin: 0;
    padding: 0;
    top: 50%;
    right: 48px;
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    z-index: 3;
}

.feynman__link:hover {
    transition: linear 1s;
    opacity: 0.5;
}