.header__subtitle {
    margin: 0;
    padding: 0;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    position: absolute;
    left: 64px;
    margin-bottom: 30px;
    bottom: 0;
}