.kaufman__triangle {
    position: absolute;
    background-image: url(../../../images/kaufman-triangle.svg);
    right: -210px;
    width: 877px;
    height: 877px;
    background-size: 877px;
    top: 0;
}